<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cenah.efficentlearning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomNoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".zpages.teacher.activites.TeacherClassAnnouncementActivity"></activity>
        <activity android:name=".zpages.teacher.activites.TeacherClassTaskActivity" />
        <activity android:name=".zpages.teacher.activites.TeachserStudentActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".zpages.teacher.activites.TeacherClassesActivity" />
        <activity android:name=".zpages.teacher.activites.TeacherHomeActivity" />
        <activity android:name=".zpages.student.activities.StudentHomeActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".zpages.admin.activities.AdminCourseActivity" />
        <activity android:name=".zpages.admin.activities.AdminTeacherActivity" />
        <activity android:name=".zpages.admin.activities.AdminUserActivity" />
        <activity android:name=".zpages.admin.activities.AdminStudentActivity" />
        <activity android:name=".zpages.admin.activities.AdminHomeActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>